<div class="card mt-4">
  <img class="card-img-top img-fluid" src="{{productData.productImg}}" alt="">
    <div card="card-body">
      <h3 class="card-title">{{productData.productName}}</h3>
      <h4>{{productData.price}}Rs</h4>
      <p class="card-text"> {{productData.description}}</p>
      <span class="text-warning">{{productData.rating}}</span>

      <div>
    </div>
    <!-- <div class="card card-outline-secondary my-4">
      <div class="card-header">
        Product Reviews
      </div>
      <div class="card-body">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi in, modi quod accusamus recusandae at nam nostrum nesciunt natus maxime numquam. Iste quis ut eum omnis. Sit vitae dolores ipsum!</p>
        <small class="text-muted">Posted By Anonymous on 27/5/2022</small>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci voluptatibus dolorem cumque tempore molestiae molestias quis odit! Ipsum nihil praesentium veritatis architecto ea, rerum deleniti, impedit doloremque doloribus quisquam culpa!</p>
        <small class="text-muted">Posted By Anonymous on 28/5/2022</small>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci voluptatibus dolorem cumque tempore molestiae molestias quis odit! Ipsum nihil praesentium veritatis architecto ea, rerum deleniti, impedit doloremque doloribus quisquam culpa!</p>
        <small class="text-muted">Posted By Anonymous on 28/5/2022</small>
        <hr>
        <a href="#" class="btn btn-success"> Leave a Review</a>
      </div>
    </div>

 -->








